<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SampleVideoBlazor.Presentation</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stream">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Stream
            </NavLink>
            <NavLink class="nav-link" href="archives">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Archives
            </NavLink>
        </div>
    </nav>
</div>